package provider

import (
	"context"
	"fmt"

	"github.com/hashicorp/terraform-plugin-framework/datasource"
	"github.com/hashicorp/terraform-plugin-framework/path"
	"github.com/hashicorp/terraform-plugin-framework/provider"
	"github.com/hashicorp/terraform-plugin-framework/provider/schema"
	"github.com/hashicorp/terraform-plugin-framework/resource"
	"github.com/hashicorp/terraform-plugin-framework/types"
	"github.com/hashicorp/terraform-plugin-framework/types/basetypes"
)

// Ensure Provider satisfies various provider interfaces.
var _ provider.Provider = &Provider{}

// Provider defines the provider implementation.
type Provider struct {
	// version is set to the provider version on release, "dev" when the
	// provider is built and ran locally, and "test" when running acceptance
	// testing.
	version string
}

// ProviderModel describes the provider data model.
type ProviderModel struct {
	BaseURL types.String `tfsdk:"base_url"`
	Headers types.Map    `tfsdk:"headers"`
}

func (p *Provider) Metadata(ctx context.Context, req provider.MetadataRequest, resp *provider.MetadataResponse) {
	resp.TypeName = "{{.ProviderInfo.NameKebab}}"
	resp.Version = p.version
}

func (p *Provider) Schema(ctx context.Context, req provider.SchemaRequest, resp *provider.SchemaResponse) {
	resp.Schema = schema.Schema{
		Attributes: map[string]schema.Attribute{
			"base_url": schema.StringAttribute{
				MarkdownDescription: "The base URL for the Petstore API. May also be provided via {{.ProviderInfo.NameCaps}}_BASE_URL environment variable.",
				Optional:            true,
			},
			"headers": schema.MapAttribute{
				ElementType:         types.StringType,
				MarkdownDescription: "A collection of headers to be sent with HTTP requests and their value.",
				Optional:            true,
				Sensitive:           true,
			},
		},
	}
}

func (p *Provider) Configure(ctx context.Context, req provider.ConfigureRequest, resp *provider.ConfigureResponse) {
	var data ProviderModel

	resp.Diagnostics.Append(req.Config.Get(ctx, &data)...)

	if resp.Diagnostics.HasError() {
		return
	}

	// Configuration values are now available.
	// If configuration values are not yet known, the provider should not
	// attempt to configure the client.
	if data.BaseURL.IsUnknown() {
		resp.Diagnostics.AddAttributeError(
			path.Root("base_url"),
			"Unknown value for provider config: Base URL",
			"Unknown value for provider config: Base URL",
		)
	}
	if data.Headers.IsUnknown() {
		resp.Diagnostics.AddAttributeError(
			path.Root("headers"),
			"Unknown value for provider config: headers",
			"Unknown value for provider config: headers",
		)
	}

	if resp.Diagnostics.HasError() {
		return
	}

	// Read config values
	var baseUrl string
	if !data.BaseURL.IsNull() {
		baseUrl = data.BaseURL.ValueString()
	} else {
		resp.Diagnostics.AddAttributeError(
			path.Root("base_url"),
			"Missing API Base URL",
			"Missing API Base URL",
		)
	}

	headers := make(map[string]string)
	if !data.BaseURL.IsNull() {
		headersValue, errs := data.Headers.ToMapValue(ctx)
		if errs.HasError() {
			resp.Diagnostics.AddAttributeError(
				path.Root("headers"),
				"Error while reading headers",
				fmt.Sprintf("Error while reading headers: %v", errs.Errors()),
			)
		}
		for k, v := range headersValue.Elements() {
			if v, ok := v.(basetypes.StringValue); ok {
				headers[k] = v.ValueString()
			} else {
				resp.Diagnostics.AddAttributeError(
					path.Root("headers/" + k),
					"Error while reading header " + k,
					fmt.Sprintf("Error while reading header %s: %v", k, errs.Errors()),
				)
			}
		}
	}

	if resp.Diagnostics.HasError() {
		return
	}

	// Create a new pet-store client using the configuration values
	config := HTTPConfig{
		BaseURL: baseUrl,
		Headers: headers,
	}
	resp.DataSourceData = config
	resp.ResourceData = config
}

func (p *Provider) Resources(ctx context.Context) []func() resource.Resource {
	return []func() resource.Resource{
	{{range $_, $resource := .Resources}}
	    New{{$resource.NamePascal}}Resource,
    {{end}}
	}
}

func (p *Provider) DataSources(ctx context.Context) []func() datasource.DataSource {
	return []func() datasource.DataSource{
	{{range $_, $dataSource := .DataSources}}
	    New{{$dataSource.NamePascal}}DataSource,
    {{end}}
	}
}

func New(version string) func() provider.Provider {
	return func() provider.Provider {
		return &Provider{
			version: version,
		}
	}
}
